<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <header class="main-headr-container">
      <nav class="main-headr-container-nav">
        <ul class="main-headr-container-ul">
          <li><a href="/login">login</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
          <li><a href="/admin/product">product</a></li>
          <li><a href="/contactus">contactus</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-body">
      <form onsubmit="" action="/admin/product" method="POST">
        <input type="text" id="message" name="message" /><br />
        <input type="hidden" id="name" name="name" /><br />
        <button type="submit">Add-Product</button>
      </form>
      <script>
        let form = document.getElementsByTagName("form");
        form[0].addEventListener("submit", storename);
        function storename(e) {
          // e.preventDefault();
          let message = document.getElementById("message").value;
          let name = localStorage.getItem("name");
          document.getElementById("name").value = name;
          localStorage.setItem("message", message);
        }
      </script>
    </main>
  </body>
</html>
