<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404.css" />
    <title>Page Not Found</title>
  </head>
  <body style="color: brown">
    <header class="main-headr-container">
      <nav class="main-headr-container-nav">
        <ul class="main-headr-container-ul">
          <li><a href="/login">login</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
          <li><a href="/admin/product">product</a></li>
          <li><a href="/contactus">contactus</a></li>
        </ul>
      </nav>
    </header>
    <h1>Page not found</h1>
    <p>The requested URL was not found on this server.</p>
  </body>
</html>
